/* ADMIN - header */

.navbar-admin ul{
    background: #D3D3D3;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-admin li{
    list-style: none;
    text-align: center;
    width: 100%;
}

.navbar-admin a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    transition: 120ms ease all;
}

.navbar-admin a:hover{
    background: #c9c9c9;
}

.navbar-admin a.current {
    font-weight: bold;
    border-bottom: 2px solid #222222;
    margin-bottom: -2px;
}

.navbar-admin a.current:hover {
    background: #aaaaaa;
}

/* ADMIN - body */


.msg {
    margin: 15px 0;
    background: var(--rose);
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-rose);
    border-radius: 5px;
}

.msg::before {
    content: var(--success-logo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
    margin-right: 10px;
}

.msg.success {
    background: var(--success);
    border: 1px solid var(--border-success);
}

.btn.success {
    background: var(--success);
    color: var(--black);
}

.btn.success:hover {
    background: var(--darker-success);
}

.btn.success:active {
    background: var(--success);
}

.btn.warning {
    background: var(--warning);
    color: var(--black);
}

.btn.warning:hover {
    background: var(--darker-warning);
}

.btn.warning:active {
    background: var(--warning);
}

.btn.danger {
    background: var(--danger);
}

.btn.danger:hover {
    background: var(--darker-danger);
}

.btn.danger:active {
    background: var(--danger);
}


.table {
    margin: 30px 0;
    width: 100%;
    border-bottom: 3px solid var(--rose);
}

.table form {
    margin: 0;
    padding: 0;
}

thead, tbody {
    text-align: left;
}

thead tr th {
    padding: 10px 0;
    background: var(--rose);
}

thead tr th:last-child {
    border-top-right-radius: 5px;
}

thead tr th:first-child {
    border-top-left-radius: 5px;
}

th, tr, td, thead tr th {
    padding-left: 8px;
}

tbody {
    box-shadow: 0px 6px 8px #0f0f0f11;
}

tbody tr {
    background: #fafafa;
}

tbody tr td {
    margin: 15px 0;
    }

table .id {
    padding-left: 5px;
    text-align: center;
}

.table-tags {
    max-width: 200px;
}

.table-tags .tag {
    user-select: none;
    color: #f5f5f5;
    line-height: 1.5rem;
    white-space: nowrap;
}

.table .actions {
    display: flex;
    justify-content: left;
    align-items: center;
}

.table .actions > * {
    margin-right: 5px;
}

/* EDIT -- ADMIN */

.form-input.select {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.tag.admin {
    position: relative;
    z-index: 1;
    margin: 0 2px;
    padding: 7px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #979797;
}

.tag.admin.active {
    background: var(--rose);
    padding-right: 5px;
}

.tag.admin.active:hover {
    background: var(--border-rose);
}

.tag.admin.active:active {
    background: var(--rose);
}

.tag.admin.active::after{
    display: flex;
    margin-left: 5px;
    justify-content: center;
    min-width: 15px;
    align-items: center;
    content: "\1f5d9";
}

.tag.admin label {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.tag.admin input {
    position: absolute;
    opacity: 0;
    left: -20px;
    bottom: -20px;
    width: 0;
    display: none;
}

textarea {
    resize: vertical;
}

/* Images */

.imgs-uploaded img {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file {
    border: 2px dotted #000000;
    background: none;   
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 100px;
}

.btn-file:hover {
    background: #b3b3b38c;
}

.btn-file.drag {
    background: #dadada8c;
}

.img-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #86868656;
    padding: 10px;
    margin: 2px 0;
}

.img-content img {
    object-fit: cover;
    height: 70px;
    width: 100px;
}

.img-content button {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 150ms all ease;
}

.img-content .img-trash {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--danger);
    height: 100%;
}

.img-content .img-trash:hover{
    background: var(--darker-danger);
}

.img-content .img-trash:active {
    background: var(--danger);
}

.img-content .img-trash::after {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 2px;
    content: "\01F5D1";
    margin-top: 5px;
}

.img-content .img-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* OVERLAY */


.overlay-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background: #0c0c0cc9;
    opacity: 0;
}

.overlay-container.show {
    display: block;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 20px 35px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 500px;
}

.popup > span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.popup > span::after {
    content: "\2715";
    font-size: 1.5rem;
}

.popup-text {
    color: #00000070;
    margin: 30px 0;
}

.popup .btn {
    width: 100%;
    font-weight: 600;
}

.popup .btn:not(:last-child){
    margin-right: 10px;
}

.popup > .actions-overlay {
    display: flex;
}