/* ADMIN - header */

.navbar-admin ul{
    background: #D3D3D3;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-admin li{
    list-style: none;
    text-align: center;
    width: 100%;
}

.navbar-admin a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    transition: 120ms ease all;
}

.navbar-admin a:hover{
    background: #c9c9c9;
}

.navbar-admin a.current {
    font-weight: bold;
    border-bottom: 2px solid #222222;
    margin-bottom: -2px;
}

.navbar-admin a.current:hover {
    background: #aaaaaa;
}

/* ADMIN - body */


.msg {
    margin: 15px 0;
    background: var(--rose);
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-rose);
    border-radius: 5px;
}

.msg.success {
    background: var(--success);
    border: 1px solid var(--border-success);
}

.msg.success::before {
    content: var(--success-logo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
    margin-right: 10px;
}

.msg.error {
    background: var(--danger);
    border: 1px solid var(--border-danger);
}

.msg.error::before {
    content: var(--no-edge-error-logo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 1.6rem;
    margin-right: 10px;
}

.btn.success {
    background: var(--success);
    color: var(--black);
}

.btn.success:hover {
    background: var(--darker-success);
}

.btn.success:active {
    background: var(--success);
}

.btn.warning {
    background: var(--warning);
    color: var(--black);
}

.btn.warning:hover {
    background: var(--darker-warning);
}

.btn.warning:active {
    background: var(--warning);
}

.btn.danger {
    background: var(--danger);
}

.btn.danger:hover {
    background: var(--darker-danger);
}

.btn.danger:active {
    background: var(--danger);
}


.table {
    margin: 30px 0;
    width: 100%;
    border-bottom: 3px solid var(--rose);
}

.table form {
    margin: 0;
    padding: 0;
}

thead, tbody {
    text-align: left;
}

thead tr th {
    padding: 10px 0;
    background: var(--rose);
}

thead tr th:last-child {
    border-top-right-radius: 5px;
}

thead tr th:first-child {
    border-top-left-radius: 5px;
}

th, tr, td, thead tr th {
    padding-left: 8px;
}

tbody {
    box-shadow: 0px 6px 8px #0f0f0f21;
}

tbody tr {
    background: #fafafa;
}

tbody tr:nth-child(even) {
    background: var(--light-rose);
}

tbody tr td {
    margin: 15px 0;
    }

table .id {
    padding-left: 5px;
    text-align: center;
}

.table-tags {
    max-width: 200px;
}

.table-tags .tag {
    user-select: none;
    color: #f5f5f5;
    line-height: 1.5rem;
    white-space: nowrap;
}

.table .actions {
    display: flex;
    justify-content: left;
    align-items: center;
}

.table .actions > * {
    margin-right: 5px;
}

.table #text {
    position: relative;
}

.table .textoverlay {
    z-index: 9;
    background: #0e0e0efa;
    position: absolute;
    left: 50%;
    bottom: -50px;
    padding: 0 30px;
    border-radius: 6px;
    user-select: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: show .1s ease-out forwards;
}

.table .fulltext {
    color: var(--white);
    margin: 10px 0;
}

/* EDIT -- ADMIN */

.form-element.img {
    position: relative;
    margin-top: 20px;
}

.form-input.select {
    display: flex;
    flex-wrap: wrap;
}

.tag.admin {
    position: relative;
    z-index: 1;
    margin: 1px 2px;
    padding: 7px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #979797;
}

.tag.admin:hover {
    background-color: #757575;
}

.tag.admin:active {
    background-color: #979797;
}

.tag.admin.active {
    background: var(--rose);
    padding-right: 5px;
}

.tag.admin.active:hover {
    background: var(--border-rose);
}

.tag.admin.active:active {
    background: var(--rose);
}

.tag.admin.active::after{
    display: flex;
    margin-left: 5px;
    justify-content: center;
    min-width: 15px;
    align-items: center;
    content: "\1f5d9";
}

.tag.admin label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag.admin input {
    position: absolute;
    opacity: 0;
    left: -20px;
    bottom: -5px;
    width: 0;
    display: none;
}

textarea {
    resize: vertical;
}

/* Images */

.btn.add {
    background: var(--black);
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: auto; 
    padding: 5px 10px;
    top: -20px;
    right: 0;
}

.btn.add:hover {
    background: var(--white);
    color: var(--black);
}

.btn.add:active {
    background: var(--black);
    color: var(--white);
}

.btn.add::before {
    content: var(--plus-logo);
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 10px;
    transition: 150ms ease all;
}

.btn.add:hover::before {
    color: var(--black);
}

.btn.add:active::before {
    color: var(--white);
}

.imgs-uploaded img {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.uploaded-filename {
    width: 100%;
    text-align: center;
}

.btn-file {
    border: 2px dotted #000000;
    background: none;   
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 100px;
}

.btn-file:hover {
    background: #b3b3b38c;
}

.btn-file.drag {
    background: #dadada8c;
}

.img-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #86868656;
    padding: 10px;
    margin: 4px 0;
}

.img-content img {
    object-fit: cover;
    height: 70px;
    max-width: 90px;
    min-width: 90px;
}

.img-content button {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 150ms all ease;
}

.img-infos .actions {
    display: flex;
}

.img-content .img-trash {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--danger);
    height: 100%;
}

.img-content .img-trash:hover{
    background: var(--darker-danger);
}

.img-content .img-trash:active {
    background: var(--danger);
}

.img-content .img-trash::after {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 2px;
    content: "\01F5D1";
}

.img-content .img-edit {
    margin-right: 5px;
}

.img-content .img-edit::after {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 2px;
    content: "\2692";
}

.img-content .img-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* OVERLAY */


.overlay-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background: #0c0c0cc9;
    opacity: 0;
    transition: 200ms ease opacity;
}

.overlay-container.show {
    display: block;
}

.overlay-container.show.transition {
    opacity: 1;
}

.overlay-container.show .popup.show {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.popup {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: var(--white);
    padding: 20px 35px;
    border-radius: 5px;
    min-width: 250px;
    opacity: 0;
    transition: 200ms ease opacity,  200ms ease transform;
    padding-right: 50px;
    overflow: hidden;
    /* overflow-y: auto; */
}

.popup > span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.popup > span::after {
    content: "\2715";
    font-size: 1.5rem;
    font-weight: bolder;
    transition: color 250ms ease;
}

.popup > span:hover::after {
    color: var(--danger);
}

.popup-text {
    color: #00000070;
    margin: 30px 0;
}

.popup.img {
    height: 80vh;
}

.popup .btn {
    width: 100%;
    font-weight: 600;
    padding: 8px 15px;
}

.popup .btn:not(:last-child){
    margin-right: 10px;
}

.popup > .actions-overlay {
    display: flex;
    margin: 10px 0;
}

/* OVERLAY - IMAGES */

.img-container {
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid #00000089;
    min-width: 650px;
    max-width: 700px;
    height: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    gap: 10px;
    /* grid: repeat(auto-fill, minmax(150px,200px)) / repeat(3, minmax(150px,200px)); */
    grid: repeat(auto-fill, minmax(180px,1000px)) / repeat(3, minmax(50px,220px));
    padding: 30px 0px;
    margin: 20px 0;
}

.popup:has(+ .img-display)  {
    font-size: 2rem;
}

.img-display {
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
    max-height: 200px;
    max-width: 150px;
    border: 2px solid #36363650;
    margin: 0 auto;
    transition: opacity ease 150ms;
}

.img-display:hover {
    opacity: 0.7;
}

.img-display:active {
    opacity: 1;
}

.img-display > img {
    width: 150px;
    height: 100px;
}

.img-display > p {
    min-height: 50px;
    max-height: 50px;
    font-size: 0.7rem;
    margin: 20px 5px;
    overflow-wrap: break-word;
}

.img-display > input {
    width: 10px;
    display: none;
}

.img-display > span {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    top: -25px;
    right: -25px;
    transition: all ease 150ms;
    opacity: 0;
    animation: show .23s ease-out forwards;
}

.img-display > span::before {
    content: '';
    background: url('../content/checkmark.svg');
    width: 50px;
    height: 50px;
}

.img-display > .checkmark {
    opacity: 1;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* OVERLAY - LOADING */

.loading-overlay{
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #0707078a;
    opacity: 0;
    transition: 200ms ease opacity;
}

.loading-overlay.show {
    display: flex;
}

.loading-overlay.show.transition {
    opacity: 1;
}

.loading-overlay.show .lds-dual-ring.show {
    transform: translateY(0);
    opacity: 1;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    transform: translateY(-10%);
    opacity: 0;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--rose);
    border-color: var(--rose) transparent var(--rose) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}